div.add-translation-button-extension.button {
  color: #657786;
  cursor: pointer;
  font-size: 12px;
  margin: 6px -2px -2px 0;
  text-align: left;
}

div.add-translation-button-extension.button svg {
  width: 12px;
  height: 12px;
  margin: 0 4px 1px 0;
}

div.add-translation-button-extension.loader {
  text-align: center;
}

div.add-translation-button-extension.loader img {
  width: 24px;
}

div.add-translation-button-extension.result {
  border-top: 1px solid #e6ecf0;
  margin-top: 5px;
  padding: 5px 0 5px 0;
}
